*{
    margin: 0;
    padding: 0;
}
:root{
    font-size: 62.5%;
}

body{

    display: grid;
    place-items: center;
    height: 100vh;
   

    background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
}

        /* screen1*/
.home{
  
    width: 42.8rem;
    height: 42.4rem;
    
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    
}
.title h1{
    margin-top: 4.8rem;
    margin-bottom: 1.4rem;
    
    font-family: 'Montserrat';

}
.subtitle{
    margin-top: 14px;
    width: 192px;
    height: 20px;
    margin: auto;
    
}
.subtitle p{
    width: 19.2rem;
    height: 2.0rem;
    

    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.0rem;
    font-family: 'DM Sans';

    color: #34355B;
    background-color: white;
}
   
img{
    margin-top: 2.0rem;
    margin-left: 6.4rem;
    cursor: pointer;
}
      
            /*sorte*/

.luck{
    
        width: 428px;
        height: 564px;
         background: #FFFFFF;
         box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
         border-radius: 5px;
 }
 .center{
  
    width: 30.0rem;
    height: 46.8rem;
    margin:  4.8rem auto;

 }
   
 
        
 .sorte{
        width: 2.93rem;
        height: 10.7rem;
        margin-top: 1.7rem;
       
       
        font-weight: 400;
        font-family: 'Dancing Script';
        text-align: center;
        
        
       

    color: #000000;
 }
 h1{
   
    width: 29.7rem;
    height: 5.8rem;
    text-align: center;
    margin:  0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: #34355B;
    

}
p{
   
    width: 29.3rem;
    height: 10.7rem;

   width: 27.3rem;

    margin-left: 0.2rem;
   
    align-items: center;

    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;

    font-family: 'Dancing Script';
   
    padding: 10px;
    gap: 10px;
    background: #E4EDF1;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.);

    color: #34355B;
}
 .opned img{
   
    width: 30.0rem;
    height: 11.4rem;
    margin: 5.9rem auto;
   
 }
 button{
  
    
    border: none;
    margin-left: 6.3rem;
  
    
     
    width: 17.7rem;
    height: 5.2rem;
    background: #FF9500;
    border-radius: 4px;

    font-family: 'DM Sans';

    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;

    cursor: pointer;
 }

        